@use 'abstracts/variables';
@use 'base/reset';
@use 'base/typography';
@use 'layout/app';
@use 'components/button';
@use 'components/form';
@use 'pages/poi-editor';
@use 'vendors/maplibre';

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 14px;
  color: #0f172a;
  background: #f8fafc;
}
